snippet enc8 "Python Source Code Encoding" !b
# coding: utf-8

endsnippet

snippet dstr "Python Docstring marker" !b
"""$0"""
endsnippet

snippet pdb "Set PDB breackpoint" b
import pdb; pdb.set_trace() # BREACKPOINT
endsnippet
